
.page-main {

    min-height: 87vh;

    .welcome {
        min-height: 87vh;
        background-size: 628px 542px;
        background-color: #FCB808;
        background-image: url('../../public/img-1.png');
        background-position: right bottom; /*Positioning*/
        background-repeat: no-repeat; /*Prevent showing multiple background images*/
    }

    section {
        min-height: 768px;
        padding: 0 70px;
        color: white;
        display: flex;
        scroll-behavior: smooth;
        // flex-flow: row;
    }
    
    section h1 {
        font-weight: bold;
        font-size: 38px;
        margin-bottom: 45px;
    }
    
    section p, section a {
        font-size: 24px;
    }
    
    section a {
        text-decoration: underline;
    }
    
    .section-content, .section-image {
        align-self: center;
    }
    
    .section-content {
        max-width: 662px;
        flex-basis: 0;
        flex-grow: 1;
    }
    
    .section-image {
        flex-basis: 0;
        flex-grow: 1;
    }
    
    section .button {
        background: #03AFE5;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        height: 50px;
        width: 215px;
        font-size: 24px;
        text-align: center;
        padding: 5px;
    }
    
    section .button a {
        color: white;
        text-decoration: none;
    }

}