@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Quicksand';
}

button {
    background: transparent;
    border: 0;
    box-shadow: none;
    outline: none;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}