@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Quicksand", 'sans-serif' !important;
}

button {
  background: transparent;
  border: 0;
  box-shadow: none;
  outline: none !important;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.breadcrumb {
  background-color: transparent !important;
  font-weight: bold;
  
.breadcrumb-item {
  a {
    color: #fab401;
  }
}
}

.breadcrumb-item+.breadcrumb-item::before {
content: '>';
font-weight: 600;
}